body{
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}
h1{
    font-size: 5.0rem;
    margin: 50px  auto 0 auto;
    font-family: 'Pacifico', cursive;
    color: #367E18;
    line-height: 2;
}

h2{
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 1.2rem;
    color: #5BB318;
    font-weight: normal;
}

h3{
    color: #7DCE13;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;
  }



.top-container{
    background-color: 6FEDD6;
    position: relative;
    padding-top:100px;
    background-color: #E1FFB1;
    
}

.middle-container{
    position: relative;
    background-color: #C7F2A4;
}

.bottom-container{
    position: relative;
    padding-bottom: 100px;
    background-color: #B6E388;
}

.profilephoto{
    padding-top: 50px;
    -webkit-border-radius: 100px;
    -webkit-border-top-left-radius: 1000px;
    -moz-border-radius: 100px;
    -moz-border-radius-topleft: 1000px;
    border-radius: 100px;
    border-top-left-radius: 1000px;
    height: 16rem;
}

.myskillssize{
    font-size: 2rem;
}

.span-p{
    text-decoration: underline;
}

.cloudone{
    position: absolute;
    right: 400px;
    top: 50px;
}

.cloudtwo{
    position: absolute;
    left: 400px;
    top: 250px;
}

.skill-row{
    margin: 50px auto 50px auto;
    width: 50%;
    height: 50%;
    text-align: left ;
    line-height: 2;
    display: inline-block;


}
.abilities-png{
    margin-right:30px;
    width: 20%;
    height: 20%;
    float: left;
}

.atom-png{
    margin-left: 30px;
    width: 20%;
    height: 20%;
    float: right;
}



.pformargin{
    width: 40%;
    margin: 40px auto 60px;
}


.btn {
    background: #00ff66;
    background-image: -webkit-linear-gradient(top, #00ff66, #25ad2e);
    background-image: -moz-linear-gradient(top, #00ff66, #25ad2e);
    background-image: -ms-linear-gradient(top, #00ff66, #25ad2e);
    background-image: -o-linear-gradient(top, #00ff66, #25ad2e);
    background-image: linear-gradient(to bottom, #00ff66, #25ad2e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #55ff00;
    -moz-box-shadow: 0px 1px 3px #55ff00;
    box-shadow: 0px 1px 3px #55ff00;
    font-family: Georgia;
    color: #fafafa;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 100em;
    position: relative;
    bottom: 20px;
  }
  
  .btn:hover {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #5df091);
    background-image: -moz-linear-gradient(top, #ffffff, #5df091);
    background-image: -ms-linear-gradient(top, #ffffff, #5df091);
    background-image: -o-linear-gradient(top, #ffffff, #5df091);
    background-image: linear-gradient(to bottom, #ffffff, #5df091);
    text-decoration: none;
  }
  
  
    
  

  .yobynamecolor{
    color: #EAF6F6;
  }
   
.footer-link{
    text-decoration: none;
    color: #5BB318;
}